/.vscode1
/homework.exe
/test.c
/test.exe
/test1.c
/test1.exe
/test10.c
/test10.exe
/test2.c
/test2.exe
/test3.c
/test3.exe
/test4.c
/test4.exe
/test5.c
/test5.exe
/test6.c
/test6.exe
/test7.c
/test7.exe
/test8.c
/test8.exe
/test9.c
/test9.exe
/try.c